nav i {
    margin-right: 16px;
    color: black;
}

#navbarSupportedContent {
    height: 5px;
}

#tube-host-logo img{
    margin-top: 0px;
    width: 20px;
    height: 20px;
}

.tube-host-logo span {
    font-size: 16px;
    font-weight: 500;
    margin-left: 4px;
}

ul {
    list-style: none;
}

.video-text{
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 0px;
}

span {
    font-size: 14px;
}

/* .col-sm-5 {
    display: inline-block;
} */

.col-sm-5 .card {
    border: none;
    background-color: inherit; 
    width: 396px;
    height: 94px;
    display: inline-table;
    

}

.col-sm-5 .card img{
    width: 168px;
    height: 94px;
    
}

.col-sm-5 .card .tube-host-text {
    float: right;
    width: 228px;
    height: 94px;
    padding-left: 0.5em;
    font-weight: 500;
    line-height: 1.2;
    font-size: 14px;
}

.tube-host-text .views-text {
    font-size: 13px;
    font-weight: normal;
}

.tube-host-text .views-text-dot {
    font-size: 13px;
    font-weight: normal;
    
}